<div class="ciudades-container">
 
    
  <div class="favorites-section">
    <h2>Ciudades Favoritas</h2>
    <div *ngIf="loading">Cargando ciudades favoritas...</div>
    <div *ngIf="error" class="error">{{ error }}</div>
    <ul *ngIf="!loading && !error && favoriteCities.length > 0">
      <li *ngFor="let city of favoriteCities">
        {{ city.name }}
      </li>
    </ul>
    <div *ngIf="!loading && !error && favoriteCities.length === 0">
      No tienes ciudades favoritas guardadas.
    </div>
  </div>
</div>